
<%= link_to "Download as PDF", pdf_pimp_my_res_path(@hustle, format: :pdf),
            class: "btn btn-primary ", target: "_blank" %>
<br>
<div class="resume-content">
  <%= markdown(@resume_draft).html_safe %>
</div>

