<%= link_to "Download as PDF",
            pimp_my_res_pdf_test_path(@hustle.id, format: :pdf),
            class: "btn btn-primary",
            download: "Melissa_Langhoff_resume.pdf" %>

<br>

<div class="resume-content">
  <%= markdown(@resume_draft).html_safe %>
</div>
