<div class="resume-output">
  <h1>Finna get ya a job</h1>
  <pre style="white-space: pre-wrap; font-family: monospace;"><%= @resume_draft %></pre>
  <br>
  <%= link_to "do it again", pimp_my_res_path, class: "btn" %>
</div>
