body {
  background-color: limegreen;
  background-image: url('/images/white_tile.png'); /* we'll talk about the image below */
  background-repeat: repeat;
  background-position: top left;
  color: rgb(9, 107, 9);
  font-family: 'Comic Sans MS', cursive, sans-serif; /* super 2000s */
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

form {
  margin: 0 auto;
  max-width: 600px;
}

input[type="text"] {
  font-size: 1.2rem;
  padding: 8px;
  border: 3px dotted rgb(16, 91, 40);
  background-color: limegreen;
  color: rgb(30, 107, 11);
  width: 100%;
}

input[type="submit"] {
  margin-top: 20px;
  border: 3px double white;
  background-color: limegreen;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

body {
  background-image: url('/assets/background.jpg');
  background-repeat: repeat; /* tile it */
  background-position: top left;
  background-size: auto; /* keep original size */
  
  color: rgb(247, 248, 247);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  padding: 50px;
}

.white-placeholder::placeholder {
  color: white;
  opacity: 1;
}



